*{
    margin: 0px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navlist{
    display: flex;
    flex-direction: row;
    margin-left: 800px;
    gap: 20px;
}
ul{
    list-style:none;
}
a{
    color: grey;
    font-family: serif;
    font-size: 16px;
    text-decoration: none;
}
#logo{
    width: 100px;
    height: 60px;
    margin-left: 23px;
}
#logotext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-top: 3px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box1{
    margin-left: 70px;
    margin-top: 150px;
}
.para1{
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-bottom: 50px;
}
.para2{
    color: gray;
    font-family: serif;

}
.img1{
    width: 500px;
    height: 500px;
    margin-right: 100px;
    margin-top: 100px;
}
.btn{
    padding: 15px;
    background-color: rgb(230, 10, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    border: none;
    color: aliceblue;
    font-size: 20px;
    margin-top: 20px;
}