.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box{
    background-image: url(./images/threedots1-removebg-preview\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 500px;
}
#img2{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 15px;
}

.navlink{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 1020px;
}

li{
      list-style-type: none;
      
}

a{
    text-decoration: none;
    color: gray;
}

.edu{
    color: rgb(3, 16, 28);
    font-size: larger;
}


.container{
   display: flex;
   flex-direction: row;
   margin-top: 100px;
   margin-left: 50px;
   justify-content: space-between;

}
.container2{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
}

.line1{
       font-size: 75px;
       font-family: Arial, Helvetica, sans-serif;
       margin: 0px;

}

#p1{
    font-size: 20px;
    color: gray;
    font-family: sans-serif;
}

.btn{
    background-color: orange;
    padding: 8px 20px 8px 20px;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight:500;
    margin-left: 500px;

}
#img3{
    height: 450px;
}
