.container1{
    background-color:rgb(239, 236, 236);
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height: 300px;
    width: 1000px;
    margin-top: 30px;
    margin-left: 270px;

}
.container2{
    background-color: rgb(237, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 1000px;
    margin-left:270px;
    margin-top: 10px;

}
.para1{
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    line-height: 15px;
}
.para2{
    font-size: 15px;
    font-family:sans-serif;

    margin-top: 0px;
    line-height: 15px;
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 15px;
    display: block;
    margin: auto;    
}

.box1,.box6{
    background-color: rgb(224, 224, 224);
    /* border-radius: 15px; */
    width: 550px;
    height: 300px;
}

.box2,.box4,.box3,.box5{
    background-color: rgb(255, 255, 255);
    /* border-radius: 15px; */
    width: 550px;
    height: 300px;
}