.container1{
    background-color: aliceblue;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    height: 355px;

}
.container2{
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 355px;

}
.para1{
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    line-height: 10px;
}
.para2{
    font-size: 15px;
    font-family:sans-serif;

    margin-top: 0px;
    line-height: 0px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 15px;
    display: block;
    margin: auto;    
}

.box1,.box6{
    background-color: rgb(220, 218, 218);
    border-radius: 15px;
    width: 500px;
    height: 350px;
}

.box2,.box4,.box3,.box5{
    background-color: #ffffff;
    border-radius: 15px;
    width: 500px;
    height: 350px;
}