.container1{
    background-color: aliceblue;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    height: 300px;

}
.container2{
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;

}
.para1{
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    line-height: 10px;
}
.para2{
    font-size: 15px;
    font-family:sans-serif;

    margin-top: 0px;
    line-height: 0px;
    text-align: center;
}

img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    padding: 15px;
    display: block;
    margin: auto;
    
    
}
.box1,.box3,.box5{
    background-color: rgb(239, 213, 22);
    border-radius: 15px;
    width: 500px;
    height: 300px;
}
.box2,.box4,.box6{
    background-color: #4b8df0;
    border-radius: 15px;
    width: 500px;
    height: 300px;
}