.form{
font-family:Arial, Helvetica, sans-serif;
}
#box{
    background-color: rgb(82, 159, 230);
    border: solid;
    border-color: black;
    border-radius: 5px;
     margin:50px 300px 300px;
}
.form [type="reset"]{
    background-color: rgb(240, 106, 115);
}
.form [type="submit"]{
    background-color: rgb(100, 230, 119);
}
legend{
    font-weight: bolder;
    font-size: larger;
}