*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 9, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
}

.b1{
margin-top: -50px;
    height: 250px;
    margin-right: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(45, 113, 239);
    position: relative;

}
.b2{
    margin-top: -8px;
    height: 200px;
    margin-right: 20px;
    width: 200px;
    border-radius: 10px;
}
.rightside{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px;
    gap: 10px;
    row-gap: 100px;
    margin: 20px;
}
.box{
    background-color: rgb(3, 10, 107);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

}
p{
    font-size: large;
    color: white;
}
.name{
    font-size: 30px;
    font-weight: 800;
    color: white;
}
.daily{
    color: gray;
}

 /* color shadow */
.b6{
    box-shadow: 0px -40px rgb(13, 215, 50);
    border-radius: 10px;
}
.b3{
    box-shadow: 0px -40px rgb(216, 123, 8);
    border-radius: 10px;
}
.b4{
    box-shadow: 0px -40px rgb(8, 150, 216);
    border-radius: 10px;
}
.b5{
    box-shadow: 0px -40px rgb(198, 35, 3);
    border-radius: 10px;
}
.b7{
    box-shadow: 0px -40px rgb(115, 6, 132);
    border-radius: 10px;
}
.b8{
    box-shadow: 0px -40px rgb(235, 228, 9);
    border-radius: 10px;
}
#img1{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
