.container{
    background-color: rgb(250, 249, 248);
    display: flex;
    flex-direction: column;
}

.box1{
        background-color: hsl(240, 100%, 11%);
        width: 1500px;
        height: 210px;
}
.box2{
        background-color: hsl(240, 100%, 11%);
        width: 1500px;
        height: 250px;
        display: flex;
        align-items: start;
        flex-direction: row;
        justify-content: start;
}
.box3{
       background-color:  hsl(240, 100%, 11%);
       width: 1500px;
       height: 250px;
       display: flex;
       flex-direction: row;
       gap:20px;
       align-items: start;
       justify-content: space-evenly;
}
h1{
    color: aliceblue;
    margin-left: 20px;
}
p{
    color: aliceblue;
    margin-left: 20px;
}
#line{
    width: 50px;
    height: 10px;
    background-color: aliceblue;
    position: absolute;
    margin-left: 500px;
}
#para1{
    margin-left: 500px;
    color: aliceblue;
    font-family:Arial, Helvetica;
    margin-right: 50px;
}
.leftside{
      margin-left: 20px;
}
#image1{
    margin-top: 8px;
    width: 500px;
    border-radius: 10px;
    height: 200px;
}
#btn{
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
}
.image2{
    width: 450px;
    margin-top: 20px;
    height: 200px;
    border-radius: 10px;

}
#img5{
    margin-left: 1100px;
    position: absolute;
    width: 150px;
    height: 230px;
    border-radius: 70px;
    margin-top: -70px;
}
#img6{
    margin-left: 1300px;
    position: absolute;
    width: 150px;
    height: 230px;
    border-radius: 70px;
    margin-top: -70px;
}