body{
    background-image: url(./images/bg\ food\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;

}
#logo{
    height: 50px;
    width: 50px;
}
#logotext{
    color: orange;
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.navlink{
    display: flex;
    gap: 20px;
    margin-left: 770px;
    
}
.navlink li{
    list-style: none;
}
.navlink a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
#home{
    color: orange;
}
.btn{
       width: 130px;
       height: 35px;
       margin-left: 20px;
       background-color: orange;
       color: aliceblue;
       border: none;
       font-weight: bold;
       cursor: pointer;


}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box1{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
}
h1{
    font-size: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#para1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1{
       width: 150px;
       height: 35px;    
       background-color:orange; 
       color: white;
       margin-top: 10px;
       border: none;
       font-weight: bold;
       cursor: pointer;
}
#food{
    width: 400px;
    height: 600px;
}