#container{
    border: solid;
    border-color: black;
    border-width: 1px;
    height: 2000px;
}
.box1{
    width: 250px;
    height: 250px;
    background-color: blue;
    margin: 10px;
    top: 15px;
    position: absolute;
}
.box2{
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    margin: 10px;
    /* top: 250px;
    position: relative; */
} 
.box3{
    width: 250px;
    height: 250px;
    background-color: brown;
    margin: 10px;
    top: 100px;
    position: sticky;
}
.box4{
    width: 250px;
    height: 250px;
    background-color: rgb(18, 235, 58);
    margin: 10px;
    top: 100px;
    /* position:sticky; */
}
span{
    display: inline-block;

}