h2
{
    font-family: monospace;
    text-align: center;
}
p{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
.box1{
    background-color: rgb(67, 17, 219);
    margin: 50px;
    padding: 10px;
    border:3px solid black;
    margin-left: 200px;
    width:400px;
    height: 70px;
}
.box2{
    background-color: brown;
    margin-left: 300px;
    padding: 15px;
    margin-bottom: 50px;
    border: 3px solid black;
}
.box3{
    background-color: rgb(244, 140, 5);
    margin-right: 300px;
    padding: 20px;
    border:solid 3px rgb(0, 0, 0)
}