*{
    background-color: bisque;
}
h1{
    color: darkred;
    text-align: center;
    font-size: 65px;
}
h2{
    color:black;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    font-size: 50px;
}
#bur,#piz,#momos,#juices{
    color: darkred;
    font-family: monospace;
    font-size: 35px;
}
.Burger{
    color: rgb(80, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}  
.pizza,.momos1,.jus1{
    color: rgb(80, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
img{
    clip-path: circle(40%);
}
li{
    list-style-type: none;
}
table{
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
}
#Snacks1{
     color: darkred;
    font-family: monospace;
    font-size: 35px;
}
.snacks{
       color: rgb(80, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}