.container{
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    padding: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.box{
    background-color: aquamarine;
    border: 2px solid black;
    padding: 60px;
}